/**
 * Base and global styles
 */


/* FONT DECLARATIONS */
@import url('https://fonts.googleapis.com/css?family=Raleway|Titillium+Web');
@import url(http://weloveiconfonts.com/api/?family=brandico);

/* brandico */
[class*="brandico-"]:before {
	font-family: 'brandico', sans-serif;
}

/**
 * GLOBAL CLASSES
 */

body {
	font-family: 'Titillium Web', sans-serif;
}

/* title for sections and secondary pages */
.section-title {
	font-family: 'Raleway', sans-serif;
	position: relative;
	text-transform: uppercase;
}

.section-title:after {
	display: block;
	background-color: #999;
	content: '';
	margin-top: 5px;
	width: 40px;
	height: 2px;
}

.section-breaker {
	background: #cecece;
	margin: 0 auto 60px;
	width: 80%;
	height: 1px;
}

/**
 * Projects section styles
 */

.article {
	margin-bottom: 60px;
}

.article-title {
	font-size: 1.4em;
	text-transform: uppercase;
}

.article-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.article-text {
	font-size: 1em;
	text-align: justify;
}

/**
 * Banner (full-width image)
 */

.banner {
	background: #000;
	margin-bottom: 40px;
	position: relative;
}

.banner-img {
	opacity: 0.8;
	width: 100vw;
}

.banner-caption {
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 2em;
	color: #000;
	padding: 10px;
	position: absolute;
	bottom: 70px;
	right: 0;
}

@media all and (max-width: 768px) {

	.banner-caption {
		font-size: 1.6em;
		bottom: 0;
		width: 100%;
	}

}

@media all and (max-width: 550px) {

	.banner-caption {
		background-color: #fff;
		border-bottom: 1px solid #333;
		position: static;
		text-align: center;
	}

}

@media all and (max-width: 480px) {

	.banner-caption {
		font-size: 1.2em;
	}

}

/**
 * Footer styles
 */

.down {
	background-color: #333;
	color: #fff;
	margin-top: 20px;
	padding: 10px 0 50px;
}

.down-social {
	padding: 0;
}

.down-social-item {
	color: #fff;
	font: 1.5em/30px normal;
	display: inline-block;
}

/* margin between social items, do not apply on the first icon */
.down-social-item:not(:first-of-type) {
	margin-left: 10px;
}

/* overwrite of the text-decoration during mouseover or focus */
.down-social-item a:hover {
	text-decoration: none;
}

/**
 * Projects section styles
 */

.project {
	margin-bottom: 60px;
}

.project-title {
	font-size: 1.4em;
	text-transform: uppercase;
}

.project-img {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.project-img:hover {
	opacity: 0.7;
}

.project-text {
	font-size: 1.2em;
}

/**
 * Header styles
 */

.top {
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 80%);
	color: #fff;
	margin-bottom: 20px;
	position: absolute;
	top: 0;
	width: 100%;
	transition: opacity .2s;
}

.top .row {
	display: flex;
	align-items: center;
}

.top-main-title {
	margin-bottom: 0;
}

.top-logo {
	display: inline-block;
}